

---
# INTRODUCCIÓN A PYTHON


---

## 1. Bases en Python

> a. Hola Python!!!

In [ ]:
print(5 / 8)
print(7+10)
print(5 - 5)
print(3 * 5) ## Multiplicación
print(18 % 7) ## Proporciona el residuo de la división.
print(4 ** 2) ## 4 Elevado a la 2
print(100*1.1**7) ## Primero eleva a la 7

<table align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/lacamposm/handson-ml2/blob/master/01_the_machine_learning_landscape.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
</table>

> b. Variables y tipos.

In [ ]:
savings = 100 ## Asiganción de una variable.
print(savings)

savings = 100
growth_multiplier = 1.1
result = savings*growth_multiplier**7
print(result)

desc = "compound interest" ## Una cadena de caracteres str.
profitable = True ## Valor booleano

savings = 100
growth_multiplier = 1.1
desc = "compound interest"
year1 = savings*growth_multiplier
print(type(year1))
doubledesc = desc+desc ## En los str el +, concatena el str.
print(doubledesc)

In [ ]:
savings = 100
result = 100 * 1.10 ** 7
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")
pi_string = "3.1415926"
pi_float = float(pi_string) ## Combvierte un str en float.




## 2. Listas en python

> a. Listas en Python.

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = [hall, kit, liv, bed, bath ] ## Las listas se crean con [] y los valores separados por ,
print(areas)

hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = ['hallway', hall, 'kitchen', kit, "living room", liv, 'bedroom',bed, "bathroom", bath]
print(areas)

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
house = [["hallway", hall],["kitchen", kit],["living room", liv],['bedroom', bed],['bathroom', bath]] ## Lista de listas.
print(house)
print(type(house))

> b. Subconjuntos de listas en Python.

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
print(areas[1]) ## Python cuenta al 0 como primer elemento.
print(areas[-1]) ## Último elemento.
print(areas[5])

areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
eat_sleep_area = areas[3]+areas[7]
print(eat_sleep_area)

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
downstairs = areas[:6] ## Nos quedamos con el elemento 0 hasta el 5
upstairs = areas[-4:] ## Desde el elemento -4 hasta el final de la lista.
print(downstairs)
print(upstairs)

areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
downstairs = areas[:6]
upstairs = areas[-4:]

> c. Manipulando listas.

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
areas[-1] = 10.50 ## Reasigna el valor en la posición indicada de la lista.
areas[4] = 'chill zone'

areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,"bedroom", 10.75, "bathroom", 10.50]
areas_1 = areas + ["poolhouse", 24.5] ## + Concatena listas.
areas_2 = areas_1 + ['garage',15.45]
print(areas_1)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
areas_copy = areas[:] # Se crea una copia de areas.
areas_copy[0] = 5.0
print(areas)
print(areas_copy)

## 3. Funciones y paquetes.

> a. Funciones.

In [ ]:
var1 = [1, 2, 3, 4]
var2 = True
print(type(var1))
print(len(var1)) ## len(), es la longitud de la lista.
out2 = int(var2)

first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]
full = first + second
full_sorted = sorted(full, reverse = True) ## sorted con reverse True devuelve la lista ordenada al revés
print(full_sorted)

> b. Metodos

In [ ]:
place = "poolhouse"
place_up = place.upper() ## .upper() vuelve el str a mayúsculas
print(place)
print(place_up)
print(place.count('o')) ## .count('o') cuenta la cantidad de o's en el str.

In [ ]:
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
print(areas.index(20.0)) ## Da el índice del valor
print(areas.count(9.50)) ## Cuenta cuantas veces está el valor en la lista.

areas = [11.25, 18.0, 20.0, 10.75, 9.50]
areas.append(24.5) ## .append() pega un valor a la lista. 
areas.append(15.45)
print(areas)
areas.reverse() ## Voltea la lista.
print(areas)
areas_ordenada = sorted(areas) ## Ordena de la lista de forma ascendente
print(areas_ordenada)

> c. Paquetes

In [ ]:
r = 0.43
import math ## import es la palabra clave, y math es el paquete.
C = 2*math.pi*r
A = math.pi*r**2
print("Circumference: " + str(C))
print("Area: " + str(A))

r = 192500
from math import radians ## podemos importar solo algunas funciones de los paquetes
dist = r*radians(12)
print(dist)

## 4. NumPY

> a. NumPY

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
cd  /content/drive/MyDrive/Colab_Proyectos/Datas_DataCamp/Curso 01: Intro_Python

/content/drive/MyDrive/Colab_Proyectos/Datas_DataCamp/Curso 01: Intro_Python

In [ ]:
############### LECTURA DE LISTAS ############### 
import pandas as pd
height_in = pd.read_table('height_in.txt', usecols=[0], sep = ',',header = None, dtype=float) ## Leer la lista
np_height_in = np.array(height_in[0].values)
weight_lb = pd.read_table('weight_lb.txt', sep = ',',header = None, dtype=float) ## Leer la lista
np_weight_kg = weight_lb.iloc[0,:].values
#################################################

In [ ]:
import numpy as np

baseball = [180, 215, 210, 210, 188, 176, 209, 200]
np_baseball = np.array(baseball) ## Creamos un array.
print(type(np_baseball))

print(np_height_in)
np_height_m = np_height_in*0.0254 ## Lo convierte en metros.
np_weight_kg = np.array(weight_lb)*0.453592 ## Peso en kg
bmi = np_weight_kg/np_height_m**2  ## Indice de masa corporal
print(bmi)

In [ ]:
np_height_m = np.array(height_in) * 0.0254
np_weight_kg = np.array(weight_lb) * 0.453592
bmi = np_weight_kg / np_height_m ** 2

light = bmi<21 ## Valores Booleanos de la lista, si cumple TRUE si no FALSE
print(light)
print(bmi[light]) ## Obtiene todos aquellos que resultaron TRUE

In [ ]:
np_weight_lb = np.array(weight_lb)
np_height_in = np.array(height_in)
print(np_weight_lb[50]) ## Da el valor del índice 50
print(np_height_in[100:111]) ## Valores de los índices del 100 al 110

> b. Arrays 2D Numpy

In [ ]:
baseball = [[180, 78.4],[215, 102.7], [210, 98.5], [188, 75.2]] ## Lista de listas
np_baseball = np.array(baseball) ## Array 2D, cada lista es una fila.
print(type(np_baseball))
print(np_baseball.shape)

<class 'numpy.ndarray'>
(4, 2)

In [ ]:
############### LECTURA DE LISTAS ############### 
baseball = pd.read_csv('https://assets.datacamp.com/production/repositories/288/datasets/e5d60ff535f86d27609312f9e41c35a1d737ddc0/baseball.csv',
                       usecols= ['Height','Weight']).values
#################################################

In [ ]:
np_baseball = np.array(baseball)
print(np_baseball.shape)

print(np_baseball[:50,:]) ## Imprime las primeras 50 filas y todas las columnas.
np_weight_lb = np_baseball[:,1] # Toma todas las filas y la segunda columna.
print(np_baseball[123,0]) # Peso del jugador 124.

In [ ]:
######## IMPORTAMOS LOS DATOS NECESARIOS ###############
import pandas as pd
data = pd.read_table('updated.txt',header=None, sep=',',usecols=[1,2,3])
updated = data.values
data1 = pd.read_table('baseball.txt',header=None, sep=',',usecols=[1,2,3])
baseball = [list(i) for i in  data1.values]
#########################################################

In [ ]:
# baseball es una lista de listas.
# updated es un 2D array de numpy
np_baseball = np.array(baseball) ## 3 Columnas.
print(np_baseball+updated) ## Suma de matrices.
conversion = np.array([0.0254,0.453592,1]) ## Conversión
print(np_baseball*conversion)

> c. Numpy: estadísticas básicas

In [ ]:
np_height_in = np.array(np_baseball[:,0])
print(np.mean(np_height_in))
print(np.median(np_height_in))

avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))
med =  np.median(np_baseball[:,0])
print("Median: " + str(med))
stddev =  np.std(np_baseball[:,0])
print("Standard Deviation: " + str(stddev))
corr =  np.corrcoef(np_baseball[:,0],np_baseball[:,1])
print("Correlation: " + str(corr))

In [ ]:
######## IMPORTAMOS LOS DATOS NECESARIOS ###############
df = pd.read_csv('https://assets.datacamp.com/production/repositories/288/datasets/026a5211b906ac118a09b1a0dbf7df48faafb379/fifa.csv')
positions= [i for i in df[' position'].values]
heights = [i for i in df[' height'].values]
#########################################################

In [ ]:
np_positions = np.array(positions)
np_heights = np.array(heights)
gk_heights = np_heights[np_positions == ' GK']
other_heights = np_heights[np_positions != ' GK']
print("Median height of goalkeepers: " + str(np.median(gk_heights)))
print("Median height of other players: " + str(np.median(other_heights)))

Median height of goalkeepers: 188.0
Median height of other players: 181.0



---
# FIN


---